* {
  /* setea a 0 porque c/ browser impl diferente */
  padding: 0px;
  margin: 0px;
  text-decoration: none !important;/*solo este important porque bootstrap me lo "desactiva"*/
  box-sizing: border-box;
  overflow-x: hidden; /* para que no se vea el scroll horizontal */
 }

body {
  font-family: 'Roboto', sans-serif;
}
/*  ---------CONTENEDOR / LAYOUT PRINCIPAL-------- */
.container{
  display: grid; /* --> DISPLAY GRID CONTAINER*/
  grid-template-areas:
  "header header header"
  "main main main"
  "footer footer footer";
  grid-template-rows: 1fr 2fr 1fr; /* defino altura filas -> solucionó espacio blanco footer */
  grid-template-columns: 40% auto 40%;/* defino altura columnas */
  row-gap: 5px; /* grid-row-gap visual studio lo marca como obsoleto, uso el nuevo row-gap */
  height: 100vh; /*solucionó espacio blanco footer */
}
/*  ---------  END CONTENEDOR / LAYOUT PRINCIPAL-------- */

/*  ---------HEADER-------- */
img{
 display: block; 
}
.header-main {
  grid-area: header; 
  justify-self: start;
  display: inline-block;
  background-color: rgb(255, 255, 255);
  padding: 2px 10px 2px 10px;
  margin: 10px;
  border-radius: 5px;
  width: 100%; /*solucionó espacio blanco footer */
}

.a-brand{
  border-radius: 0.2rem;
  display: inline-block;
  padding-top: 0rem;
  padding: 0.5rem;
  line-height: inherit;
  white-space: nowrap;
  background-color:rgb(232, 232, 235);
}
.a-brand:hover{
  transform: rotateZ(360deg);
}

.header-main__img-perfil{
  border-radius: 5rem;
  width: 6rem;
  height: 6rem;
}

/* .header-main__navbar--main li{
  border-radius: 0.2rem;
  border-style: solid;
  border-color: white;
  display: inline-block;
  list-style: none;
  text-transform: capitalize;
  text-align: center;
  font-size: 1rem;
  padding: 1.2rem;
} */

/* .header-main__navbar--main a{
  color:#47525Eff;
  font-weight: 500;
  transition: all 0.8s;
} */

/* .header-main__navbar--main li a:hover {
  background-color: #d8d8d8;
  border-radius: 0.2rem;
  font-size: 1.1rem;
  padding: 20px;
} */
nav .navbar{
  width: 100%;
}
/*  ---------END HEADER-------- */

/*  ---------MAIN-------- */
.main{
  grid-area: main;
  align-self: stretch;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  color: #47525Eff;
  display: flex; /* --> DISPLAY FLEX */
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 20px;
  line-height: 2rem;
  text-align: left;
  padding: 26px;
}

  /*  ---------MAIN INDEX-------- */
    .main__flex--figure img{
      width: 30rem;
    }
    .main__flex--h3{
      width: 30rem;
    }
  /*  ---------END MAIN INDEX-------- */


article{
  margin: 20px;
}

article img {
  height: 120px;
  width: 120px;
}

article header figure img{
  width: 75%;
  height: 15rem;
}

article p{
  width: 25%;
}

main img {
  height: 250px;
  width: 250px;
}

.titulos{
    color: darkslategray;
    font-size: 30px;
}

.contact__main img {
  height: 250px;
  width: 30%;
}

  /*  ---------MAIN ABOUT -------- */
  .main__about{
    display: grid; /* --> DISPLAY GRID ABOUT*/ 
    grid-template-areas:
    "texta texta"
    "figure iconreact"
    "figure iconnode"
    "icondb icondb"
    "footert footert";
    grid-template-rows: auto; 
    grid-template-columns: 0.5fr 1fr;
  }
  .main__about--figure{
    grid-area: figure; 
    padding: 1rem;
  }
  .main__about--text{
    grid-area: texta;
  }
  .main__about--icon-react{
    grid-area: iconreact; 
  }
  .main__about--icon-node{
    grid-area: iconnode;
  }
  .main__about--icon-db{
    grid-area: icondb;
  }
  .main__about--text-footer{
    grid-area: footert;
    padding: 1rem;
    margin: 1rem;
  }
  .main__about--img{
    border-radius: 130px;
    box-shadow: 3px 3px 3px #47525Eff;
  }

  .main__about > i{
    margin: 0.5rem;
  }
  .main__about > p{
    margin: 0.5rem;
  }
  /*  --------- END MAIN ABOUT -------- */
  /*  --------- MAIN CV -------- */
    .main__section--ul{
      margin-top: 1rem;
      padding-left: 2rem;/*le da sangria a los items del cv*/
    }
  /*  --------- END MAIN CV -------- */
  /*  --------- MAIN PORTFOLIO -------- */

    /* card de bootstrap */
    .card{
      margin: 4px;
      width: 22rem;
    }
 
  /*  ---------END MAIN PORTFOLIO -------- */

  /*  --------- MAIN SKILLS -------------- */
  .file{
    animation-name: skill_progress_effect;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
  }
  @keyframes skill_progress_effect {
    0%{ 
      width: 10px; 
    }
    25%{ 
      width: 50px; 
    }
    50%{ 
      width: 100px;
    }
    75%{ 
      width: 200px;
    }
    100%{ 
      width: 100px;
    }
 }

  .lb-sm {
    font-size: 12px;
  }

  .lb-md {
    font-size: 16px;
  }

  .lb-lg {
    font-size: 20px;
  }
  /*  ---------END MAIN SKILLS ------------ */

  /*  ---------MAIN FORM ------------------ */

  .main__form {
    width: 50%;
    height: 50%;
  }

  input[type="submit"]{
    width: 100%;
    display: inline-block;
  }
  input, textarea{
    transition: all 1s;
  }
  input, textarea:focus{
    font-size: 22px;
  }
  
  .default {background-color: #e7e7e7; color: black;} /* Gray */
  .default:hover {background: #ddd;}

  /*  ---------END MAIN FORM -------- */

/*  ---------END MAIN-------- */

/*  ---------FOOTER-------- */

footer {
  grid-area: footer;
  align-self: end;
  /* background-color: #47525Eff; */
  background-image: linear-gradient(to top, #47525Eff 0%, rgb(255, 255, 255) 100%);
  border-radius: 5px;
  padding: 40px 30px 10px 30px;
  margin: 1rem;
}

.footer__flex{
  display: flex; /* --> DISPLAY FLEX */ 
  justify-content: space-between;
  align-items: stretch;
}

.footer__menu{
  text-align: left;
}

.footer__menu li{
  list-style: none;
  text-transform: capitalize;
}

.footer__menu--icon li{
    display: inline-block;
    padding: 0.5rem;
}

.footer__flex--icon-arrow-top {
  display: flex; /* --> DISPLAY FLEX */ 
  flex-direction: column;
  justify-content: flex-end;/*posiciono abajo el icono arrow*/
}

.footer__credit{
  text-align: center;
  padding: 1rem;
  font-size: 0.7rem;
}

footer a{
  /* color:#d6cfcf; */
  color: rgb(63, 63, 63);
  font-weight: 500;
}

footer img {
  width: 20px;
}

.icon--large{
  font-size: 2rem;
}

.footer--brand{
 display: inline-block;
}

.footer--brand .a-brand {
  margin: 1rem;
  color: black; /*brand especifico del footer*/
}
/*  ---------END FOOTER-------- */