* {
  /* setea a 0 porque c/ browser impl diferente */
  padding: 0px;
  margin: 0px;
 }

body {
  font-family: 'Roboto', sans-serif;
}

/*  ---------HEADER-------- */

.header-main {
  display: inline-block;
  background-color: rgb(255, 255, 255);
  padding: 2px 30px 2px 30px;
  margin: 10px;
  border-radius: 5px;
}

.header-main__img-perfil{
  width: 6rem;
  height: 6rem;
  border-radius: 5rem;
}

.header-main__navbar--main li{
  display: inline-block;
  list-style: none;
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
  font-size: 1rem;
  padding: 1.2rem;
  background-color:rgb(232, 232, 235);
}

.header-main__navbar--main a{
  color:#47525Eff;
  font-weight: 500;
}

/*  ---------SECCIONES-------- */

.main{
  background-color: rgb(232, 232, 235);
  border-radius: 5px;
  font-size: 20px;
  padding: 26px;
  margin: 10px;
}

.titulos{
    color: darkslategray;
    font-size: 30px;
}

footer {
  background-color: #47525Eff;
  border-radius: 5px;
  padding: 10px 30px 10px 30px;
  margin: 10px;
}
footer ul li{
  list-style: none;
  text-decoration: none;
  text-transform: capitalize;
}

li a {
	text-decoration: none;
}

footer img {
  width: 20px;
}

.footer--font a{
  color:#d6cfcf;
  font-weight: 500;
}

.form {
  text-align: center;
  margin: 20px;
}

article img {
  height: 120px;
  width: 120px;
}

main img {
  height: 250px;
  width: 250px;
}

article{
  margin: 20px;
}

table td{
  /*esto porque en columna Temas el numero de item 
  pasaba a la columna paginas, probar sin esto para ver
  que pasa*/
  padding-left: 1em;
}

.icon--large{
  font-size: 2rem;
}

/*  ---------FAQs-------- */
.answer{
  font-style: italic;
}