* {
  /* setea a 0 porque c/ browser impl diferente */
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  box-sizing: border-box;
 }

body {
  font-family: 'Roboto', sans-serif;
}

/*  ---------HEADER-------- */

.header-main {
  display: inline-block;
  background-color: rgb(255, 255, 255);
  padding: 2px 10px 2px 10px;
  margin: 10px;
  border-radius: 5px;
}

.a-brand{
  border-radius: 0.2rem;
  display: inline-block;
  padding-top: 0rem;
  padding: 0.5rem;
  line-height: inherit;
  white-space: nowrap;
  background-color:rgb(232, 232, 235);
}

.header-main__img-perfil{
  border-radius: 5rem;
  width: 6rem;
  height: 6rem;
}

.header-main__navbar--main li{
  border-radius: 0.2rem;
  border-style: solid;
  border-color: white;
  display: inline-block;
  list-style: none;
  text-transform: capitalize;
  text-align: center;
  font-size: 1rem;
  padding: 1.2rem;
}

.header-main__navbar--main a{
  color:#47525Eff;
  font-weight: 500;
}

/*  ---------END HEADER-------- */

/*  ---------MAIN-------- */
.main{
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  color: #47525Eff;
  display: flex;
  font-size: 20px;
  line-height: 2rem;
  text-align: left;
  padding: 26px;
  margin: 10px;
}

article{
  margin: 20px;
}

article img {
  height: 120px;
  width: 120px;
}

article header figure img{
  width: 75%;
  height: 15rem;
  float: right;
}

article p{
  width: 25%;
}

main img {
  height: 250px;
  width: 250px;
}

.titulos{
    color: darkslategray;
    font-size: 30px;
}

.contact__main img {
  height: 250px;
  width: 30%;
  /* float: left; */
}

/*  ---------MAIN FORM -------- */

 .main__form {
  margin: 20px;
  width: 70%;
  height: 50%;
  float: right;
}

input, textarea{
  width: 100%;
  /* height: 5rem; */
  margin: 2px;
  display: inline-block;
}

input[type="submit"]{
  width: 25%;
  display: inline-block;
}
input[type="reset"]{
  width: 25%;
  display: inline-block;
}

fieldset {
  border-style: none;
}

/*  ---------END MAIN FORM -------- */

/*  ---------END MAIN-------- */

/*  ---------FOOTER-------- */
.footer__flex{
  display: flex; /* --> DISPLAY FLEX */ 
  justify-content: space-around;
  align-items: stretch;
}

.footer__menu{
  text-align: left;
}

.footer__menu li{
  list-style: none;
  text-transform: capitalize;
}

.footer__menu--icon li{
    display: inline-block;
    padding: 0.5rem;
}

.footer__flex--icon-arrow-top {
  display: flex; /* --> DISPLAY FLEX */ 
  flex-direction: column;
  justify-content: flex-end;/*posiciono abajo el icono arrow*/
}

.footer__credit{
  text-align: center;
  padding: 1rem;
  font-size: 0.7rem;
}

footer {
  background-color: #47525Eff;
  border-radius: 5px;
  padding: 10px 30px 10px 30px;
  margin: 1rem;
}
/* footer ul li{ REEMPLAZO POR -> .footer__menu li
  list-style: none;
  text-transform: capitalize;
} */

footer a{
  color:#d6cfcf;
  font-weight: 500;
}

footer img {
  width: 20px;
}


.icon--large{
  font-size: 2rem;
}

.footer--brand{
 display: inline-block;
}

/*  ---------END FOOTER-------- */